body {
    font-family: serif;
    background: lightcyan;
    max-width: 600px;
    margin: 0 auto;
    
  }

  p {
    font-size: 20px;
    color: rgb(2, 75, 2);
    margin: 5px;
    padding: 5px;
    display: block;

  }


.title {
    background-color: yellow;
    color: darkgreen;
    margin-top: 30px;
    margin-bottom: 20px;
    border-left: 30px solid blue;
    border-right: 10px solid red;
    padding: 5px;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    display: block;
  }


 .subtitle {
    background-color: yellowgreen;
    color: #02481b;
    border-bottom: 3px dotted rgb(246, 8, 8);
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    display: block;
  }


  #subtitle2 {
    color: #21077d;
    font-style: italic;
    font-size: 25px;
    font-weight: 800;
    margin-top: 20px;
  }

    
   .fix.image {
    height: 250px;
    width: 500px;
    border: 5px solid rgb(4, 203, 248);
    border-radius: 50px;
    margin-left: 45px;
    margin-bottom: 25px;
  }

  .side.image {
    height: 400px;
    width: 250px;
    margin-top: -380px;
    margin-left: -320px;
    border-radius: 10px;
    display: block;
  }

  .recipe {
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    margin-right: 20px;
    margin-bottom: 50px;
    padding: 10px;
    display: inline-block;
  }

.button-container {
  padding: 10px;
  margin-bottom: 20px;
  display: inline-block;
 }

 button {
    font-size: 15px;
    font-weight: bold;
    padding: 5px 10px;
    border-color: white;
    border-radius: 5px;
    background-color: white;
        
 }


 